.header {
    grid-area: header;
    background: #9966ff;
  }
  
  .header .logo {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 25px;
    color: #ffd700;
    margin: 8px;
    font-weight: 500;
  }