.app-wrapper { 
  margin: 0 auto;
  display: grid;
 grid-template-areas:
"header header header"
"nav content content";
 grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  
}
.header {
  grid-area: header;
  background: green;
}

.header img {
  width: 50px;
  height: 50px;
}

.nav {
  grid-area: nav;
  background: green;
}
.content {
  grid-area: content;
  background: yellow;
}